<div id="planned-events">
  <div>
    <h1>Planned events</h1>
    <button id="newEventButton" type="button" routerLink="/new-event">New Event</button>
  </div>

  <div id="planned-section">
    <table style="width: 100%; text-align: left">
      <tr>
        <th>Event</th>
        <th>Date</th>
        <th>Location</th>
        <th>Status</th>
      </tr>
      <ng-template ngFor let-event [ngForOf]="events" let-i="index">
        <tr *ngIf="date.getTime() < event.endDate.toDate().getTime()">
          <td> {{ event.name }} </td>
          <td> {{ event.endDate.toDate() | date }} </td>
          <td> {{ event.location }}</td>
          <td> <button type="button" [class.publishedButton]="event.status === 'published'"> {{ event.status }} </button> </td>
          <td><button type="button" (click)="onEdit(i)">Edit</button></td>
        </tr>
      </ng-template>
    </table>
  </div>
</div>

<div id="past-events" style="margin-top: 5%">
  <div>
    <h1>Past events</h1>
  </div>

  <div id="past-section">
    <table style="width: 100%; text-align: left">
      <tr>
        <th>Event</th>
        <th>Date</th>
        <th>Location</th>
        <th>Status</th>
      </tr>
      <ng-template ngFor let-event [ngForOf]="events" let-i="index">
        <tr *ngIf="date.getTime() > event.endDate.toDate().getTime()">
          <td> {{ event.name }} </td>
          <td> {{ event.endDate.toDate() | date }} </td>
          <td> {{ event.location }}</td>
          <td> <button type="button" class="pastButton"> past </button> </td>
          <td><button type="button" (click)="onEdit(i)">Edit</button></td>
        </tr>
      </ng-template>


    </table>
  </div>
</div>
