.container {
  max-width: 900px;
  width: 100%;

  margin-bottom: 48px;

  background: #fff;
  border-radius: 10px;

  padding: 40px;

  box-shadow: 0px 3px 6px #AAAAAA29;

  .trash {
    margin-top: 32px;
    flex-grow: 1;
  }

  h1 {
    font: normal normal bold 26px/36px Open Sans;
    color: var(--cbs-s-blå-skygge);
  }

  h2 {
    font: normal normal bold 20px/27px Open Sans;
    color: var(--cbs-s-blå-skygge);
    margin: 8px 0;
  }

  p {
    font: normal normal normal 16px/22px Open Sans;
    color: #707070;
  }

  .section-images {

    #logo {
      height: 170px;
      width: 170px;

      object-fit: cover;

      margin-right: 170px;
    }

    #cover {
      height: 170px;
      width: 350px;

      object-fit: cover;

      margin-right: 170px;
    }

    p {
      font: normal normal bold 16px/22px Open Sans;
      color: #333333;
      margin: 5px 0;
    }
  }

  .section-about {
    input, textarea {
      width: 100%;
    }

    .additionalBlocks {
      input {
        width: 90%;
      }
    }

    button {
      @apply transition-colors duration-100;

      height: 36px;

      font: normal normal bold 16px/22px Open Sans;
      text-align: center;

      background: var(--cbs-s-blå);
      color: #fff;

      margin: 32px 0 32px 0;
      padding: 0 8px;

      border-radius: 5px;

      &:hover {
        background: #6969bf;
      }
    }
  }

  .section-contact {
    p {
      font: normal normal bold 16px/22px Open Sans;
      color: #333333;
      margin: 5px 0;
    }

    input {
      margin: 0 0 24px 0;
      width: 50%;
    }
  }

  .section-buttons {
    @apply flex;

    div {
      width: 60px;
    }

    button {
      @apply flex relative flex-grow;

      background: #fff;

      border: 1px solid #333;
      border-radius: 5px;
      flex-basis: 0;

      text-align: left;

      padding: 20px 17px;

      font: normal normal bold 20px/27px Open Sans;

      div {
        @apply flex-grow
      }

      img {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translate(0, -50%);
      }
    }

    button[type="submit"]{
      border: none;

      color: #fff;
      background: var(--blågrøn-skygge);

      &:disabled {
        background: #09bc89;
        cursor: default;
        color: lightgray;
      }
    }
  }
}


.separator {
  margin: 24px 0 24px 0;
  height: 1px;
}

.ng-invalid.ng-touched {
  border-color: red;
}
