<div class="sidebar">
  <ul>
    <app-sidebar-item [iconPath]="'/assets/img/icons8-align_text_left.svg'" [link]="'/dashboard'">Dashboard</app-sidebar-item>
    <app-sidebar-item [iconPath]="'/assets/img/icons8-badge.svg'" [link]="'/public-profile'">Public profile</app-sidebar-item>
    <app-sidebar-item [iconPath]="'/assets/img/icons8-event.svg'" [link]="'/events'">Events</app-sidebar-item>
    <app-sidebar-item [iconPath]="'/assets/img/icons8-news.svg'" [link]="'/posts'">Posts</app-sidebar-item>
    <app-sidebar-item [iconPath]="'/assets/img/someicon'" [link]="'/collections'">Collections</app-sidebar-item>
    <app-sidebar-item [iconPath]="'/assets/img/icons8-chat.svg'" [link]="'/chats'">Chats</app-sidebar-item>
    <app-sidebar-item [iconPath]="'/assets/img/icons8-user_account_2.svg'" [link]="'/volunteers'">Volunteers</app-sidebar-item>
  </ul>

</div>
