<div class="container">
  <div class="header">
    Chats
  </div>
  <div class="chats flex">
    <ng-template ngFor [ngForOf]="chats" let-chat>
      <div (click)="select(chat)" class="chat" [ngClass]="{selected: chat === (selected | async)}">
        <img src="http://cdn.europosters.eu/image/750/minions-despicable-me-jerry-close-up-i24249.jpg">
        <div class="info">
          <h3>{{ (chat.users | async)![0].uid === (me | async)?.uid ? (chat.users | async)![1].name : (chat.users | async)![0].name }}</h3>
          <p>En Besked</p>
        </div>
      </div>
    </ng-template>

    <button (click)="openNewChatModal()" class="new-chat-button">
      <i class="fas fa-plus"></i>
    </button>
  </div>
  <div class="messages-container">
    <app-messages [chat]="selected"></app-messages>
  </div>
</div>
