<div class="container">
  <div class="collaborations">
    <h1>Collaboration</h1>

    <div id="invitations" class="container-inner" >
      <h3>Invitations <span *ngIf="invitations.length > 0">({{ invitations.length }})</span></h3>
      <app-invitation *ngFor="let invitation of invitationsToShow" [invitation]="invitation" [date]="date">
      </app-invitation>
      <hr class="divider">
      <div class="flex-center">
        <p *ngIf="invitations.length <= 0">No pending invitations</p>
        <button *ngIf="invitations.length > 2" class="showAllButton" (click)="onShowAllInvitations()">{{showAllInvitations ? 'Hide all' : 'Show all'}}</button>
      </div>
    </div>

    <div id="accepted-collaborations" class="container-inner" >
      <h3>Accepted collaborations <span *ngIf="collaborations.length > 0">({{ collaborations.length }})</span></h3>

      <!-- For now all these are created via the invitations array, should be created from a separate collaborations array -->
      <app-invitation  *ngFor="let collaboration of collaborationsToShow" [date]="date" [invitation]="collaboration" [accepted]="true">
      </app-invitation>
      <hr class="divider">
      <div class="flex-center">
        <p *ngIf="invitations.length <= 0">No pending invitations</p>
        <button *ngIf="invitations.length > 2" class="showAllButton" (click)="onShowAllCollaborations()">{{ showAllCollaborations ? 'Hide all' : 'Show all'}}</button>
      </div>

    </div>
  </div>
  <div class="followers">
    <div class="followers-container-inner">
      <h1>
        Followers
      </h1>
      <div class="flex-grow"></div>
      <ng-template *ngIf="followersLastWeek < followers; then thenBlock else elseBlock">

      </ng-template>
      <ng-template #thenBlock><p>+{{ followerDiff }} since last week</p></ng-template>
      <ng-template #elseBlock><p class="negative">-{{ followerDiff }} since last week</p></ng-template>
    </div>
    <h2 class="absolute-center">
      {{ followers }}
    </h2>

  </div>



</div>

